<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casting Agency</title>
</head>
<body>
<h1 style="text-align:center; color:darkslategray"> Udacity's Casting Agency API</h1>
<p> API Resources
    <ul>
    <li>Actor</li>
    <li>Movie</li>
</ul>
<p>
    API Endpoints
    <ul>
    <li>GET /movies</li>
    <li>GET /actors</li>
    <li>POST /movies</li>
    <li>POST /actors</li>
    <li>PATCH /movies/{id}</li>
    <li>PATCH /actors/{id}</li>
    <li>DELETE /movies/{id}</li>
    <li>DELETE /actors/{id}</li>
    <li>PATCH /movies/{movie_id}/actors/{actor_id}</li>
    <li>PATCH /actors/{actor_id}/movies/{movie_id}</li>
    </ul>
<p>
    For complete API Reference please refer to this <a href="https://github.com/nooreldeensalah/FSND_Capstone_Project#api-documentation">link</a>
</p>
</body>
</html>